* {
   margin: 0;
   padding: 0;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400, 800');

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', 'Helvetica Neue', Arial, sans-serif;

h {
   font-family: $montserrat;
 }
 
 p {
   font-family: $roboto;
   font-size: 12px;
   font-weight: 400;
 }

// Layout
%column-center-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

// Colors
$bg-color-grey: rgb(35, 35, 35);
$color-white: rgb(255, 255, 255);